#map {
    height: 600px;
}

.skin-red-light .wrapper,
.skin-red-light .main-sidebar,
.skin-red-light .left-side {
    background-color: rgba(0, 0, 0, 1);
}



.main-sidebar,
.left-side {
    width: 250px;
}

.sidebar-collapse .main-sidebar,
.sidebar-collapse .left-side {
    width: 0;
}

.white {
    color: aliceblue;
}

.black {
    color: black;
}

.red {
    color: red;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
    background-color: rgba(18, 18, 18, 1) !important;*/
}

.alert-info {
    border-color: rgba(18, 18, 18, 1);
}

.labelLga-icon {
    color: darkmagenta;
    font-weight:bold;
    font-size: 12px;
    text-shadow: '#ffffff';
}

.labelWard-icon {
    color: '#41006D';
    text-shadow: '#ffffff';
    font-size: bold 10px;
}

.pad{
    padding-left: 5px;
    height: 1.1em;
}
.pad1{
    padding-top: 2px;
    height: 4em;
}
.pad2 {
    padding-bottom: 5px;
    height: 2em;
}
.pad3 {
    padding-bottom: 25px;
    height: 2em;
}

/*
.special-size{
    font: bold 22px "Agency FB";
}
*/

.special-size1{
    font: bold 22px "Agency FB";
}
.special-size2{
    font: bold 20px "Agency FB";
    color: chocolate;

}

/*
.btnAd{
    padding-left: 60px;
    color: chocolate;
}
*/


.info-box {
    overflow: auto;
    overflow-y: scroll;
    font-size: 13px;
    text-align: justify;

}
.logo_pad{
    position: absolute;
    top: 10px;
    padding-left: 85px;

}

.title{
    font: bold 20px "Bungee Shade";
/*    font-family: 'Bungee Shade';*/
    color: white;
    text-align: left;
    padding-left: 20px;

}

#spinposition {
    position: absolute;
    top: 300px;
    right: 700px;
    width: 100px;
    height: 100px;
    background: transparent;
}

#detailPosition{
    position: absolute;
    top: 160px;
    right: 0px;
    width: 250px;
    height: 100px;
    background: transparent;
}

input.checkbox  {
	width : 20px;
	height : 20px;
	padding: 0px;
	margin: 0px;
	}

.special-size{
    font: 15px "Source Sans Pro";
/*    font: 20px "Baloo Bhaina";*/
/*    color: white;*/
    text-align: justify;
    padding-left: 20px;

}
